{% extends "pages/base.html" %} {% block title %} Home {% endblock %} {% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-1">
        </div>
        <div class="col-sm-3">
            <div class="card border-info mb-3" style="max-width: 20rem;">
                <center>
                    <div class="card-header">Trần Anh Tuấn</div>
                </center>
                <div class="card-body">
                    <p><i class="fa fa-fw fa-map-marker"></i> Hà Nội</p>
                    <p><i class="fa fa-fw fa-phone"></i> 0044123123</p>
                    <p><i class="fa fa-fw fa-envelope"></i> ex@mail.com</p>
                    <p><i class="fa fa-fw fa-cc-amex"></i> Amex</p>
                    <p><i class="fa fa-fw fa-credit-card"></i> Credit Card</p>
                    <br>
                    <center>
                        <a href="https://www.facebook.com/A.Tuan23" target="_blank"><i class="fa fa-facebook-official w3-hover-opacity w3-large" ></i></a>
                        <i class="fa fa-instagram w3-hover-opacity w3-large"></i>
                        <i class="fa fa-twitter w3-hover-opacity w3-large"></i>
                        <i class="fa fa-linkedin w3-hover-opacity w3-large"></i>
                    </center>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <center>
                <div class="card border-info mb-3" style="max-width: 30rem;">
                    <div class="card-header">Quan điểm sống</div>
                    <div class="card-body">
                        <p>Gió mang đi những cành lá khô</p>
                        <p>Sao cây nỡ trách gió vô tình</p>
                        <p>Gió mang mây mang mưa đến</p>
                        <p>Sao người vội vàng che đi</p>
                    </div>
                </div>
            </center>
        </div>
        <div class="col-sm-4">
            <div class="card border-info mb-3" style="max-width: 20rem;">
                <center>
                    <div class="card-header">Trình độ</div>
                </center>
                <div class="card-body">
                    <p>Đang là sinh viên năm 2 HVKTMM</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
