<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title> Đăng Nhập </title>
    <style>
        html,
        body {
            height: 100%;
            background-color: #CCCCCC;
            font-family: "Comic Sans MS";
        }
    </style>
    {% block stylesheet %}
    <style>
        .form-signin {
            max-width: 380px;
            padding: 15px 35px 45px;
            margin: 0 auto;
            margin-top: 30px;
            background-color: #fff;
            border: 15px solid rgba(0, 0, 0, 0.1);
        }
    </style>
    {% endblock stylesheet %}
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4">
            </div>
            <div class="col-sm-4">
                <center>
                    <div class="card border-info mb-3" style="max-width: 20rem;">
                        <br/>
                        <form method='POST' style="border-radius: 15px;">
                            {% csrf_token %} {% for key,value in form.errors.items %} {{value}} {% endfor %}
                            <p><label class="control-label">Tài Khoản : </label>{{form.username}}</p>
                            <p><label class="control-label">Mật Khẩu : </label>{{form.password}}</p>
                            <input type="hidden" name="next" value="/" />
                            <input type="submit" value="Đăng Nhập" />
                        </form>
                        <div>
                            <p>
                                <h4><a href="/">Go Home</a>|<a href="/register">Register</a></h4>
                            </p>
                        </div>
                    </div>
                </center>
            </div>
            <div class="col-sm-4">
            </div>
        </div>
    </div>
</body>
